<div class="group-leader-container">
    <div class="group-leader-image">
        <img src="{{groupLeader.profileImage}}" alt="{{groupLeader.name}}'s Profile Picture">
    </div>
    <div class="group-leader-info">
        <h2 class="group-leader-name">{{groupLeader.name}}</h2>
        <p class="group-leader-title">{{groupLeader.professionalTitle}}</p>
        <a href="/profile/leader/{{groupLeader._id}}" class="group-leader-profile-btn">view leader's profile</a>
    </div>
</div>

