{{#*inline "title"}}Success! | Twennie{{/inline}}
<div class="promptset-register-success-container">
    <h1 class="promptset-register-success-title">You have successfully registered for this prompt set!</h1>
    <h2 class="promptset-register-success-subtitle">{{promptset_title}}</h2>

    <p class="promptset-register-success-message">
        The prompts will begin appearing in your dashboard immediately. 
        Make sure to complete one prompt <strong>{{frequency}}</strong> until your target completion date of 
        <strong>{{completion_date}}</strong>, and you will be able to add the <strong>{{promptset_title}}</strong> badge to your profile!
    </p>

    <a href="{{dashboard}}" class="promptset-register-success-btn">return to my dashboard</a>
</div>