<header class="header">
  {{!-- <a href="/" class="home-link" aria-label="Home">
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1224.97 132.72">
  <defs>
    <style>
      .cls-661 {
        fill: #fff;
      }

      .cls-662 {
        opacity: .46;
      }

      .cls-663 {
        fill: #3c2415;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g class="cls-662">
      <path class="cls-663" d="M149.91,117.68c-.06,0-.11,0-.17,0,.06,0,.11,0,.17,0Z"/>
      <path class="cls-663" d="M109.06,79.83h-49.65c28.73-6.39,48.89-21.31,48.89-38.71C108.29,17.91,72.54.81,28.27.81,21,.81,14.68.25,7.69.25L.3,0h-.3l.64,132.72c31-6.03,68.57-10.1,108.41-12.44v-40.45Z"/>
      <path class="cls-663" d="M1224.97,0L215,.63c-68.86-.46-105.94,27.38-105.94,55.46,0,25.07,50.59,60.18,183.53,64.53h0c83.12,1.65,260.56-19.48,326.9-26.83,300.52-33.31,604.74,38.61,604.74,38.61l.74-132.4Z"/>
    </g>
    <polygon class="cls-661" points="48.56 29.59 36.88 38.96 39.9 38.96 39.9 50.53 46.1 50.53 46.1 43.95 51.16 43.95 51.16 50.53 57.05 50.53 57.05 38.96 60.79 38.96 48.56 29.59"/>
    <g>
      <path class="cls-661" d="M37.92,59.99v-6.09h1.53v6.09h-1.53ZM40.59,57.77c0-.17-.02-.31-.06-.41-.04-.11-.09-.19-.16-.25-.07-.06-.16-.09-.27-.1-.22-.01-.38.04-.49.15-.11.11-.16.28-.16.52h-.42c0-.46.07-.85.2-1.16.14-.32.32-.56.55-.73.23-.17.5-.25.79-.25.35,0,.63.07.86.21.23.14.4.36.51.65.11.29.17.66.17,1.1v.26h-1.53ZM40.59,59.99v-2.23h1.53v2.23h-1.53Z"/>
      <path class="cls-661" d="M44.96,60.1c-.45,0-.86-.1-1.21-.29-.35-.19-.62-.46-.82-.8-.2-.34-.3-.74-.3-1.18s.1-.84.29-1.18c.2-.34.47-.61.82-.8.35-.19.75-.29,1.2-.29s.86.1,1.2.29c.35.19.62.46.82.8.2.34.29.74.29,1.18s-.1.84-.29,1.18c-.2.34-.47.61-.81.8-.35.19-.74.29-1.19.29ZM44.96,58.66c.14,0,.27-.04.37-.11.11-.07.19-.17.26-.3.06-.12.09-.27.09-.43s-.03-.31-.09-.43-.15-.22-.26-.3c-.11-.07-.24-.11-.39-.11s-.27.04-.38.11c-.11.07-.2.17-.26.3-.06.12-.09.27-.09.43s.03.31.09.43c.06.13.15.22.26.3.11.07.24.11.39.11Z"/>
      <path class="cls-661" d="M47.81,59.99v-4.35h1.45l.06.53c.14-.21.3-.37.5-.47.2-.11.42-.16.66-.16.35,0,.64.07.87.21.23.14.39.36.5.66.14-.28.32-.5.54-.65.22-.15.48-.22.75-.22.52,0,.91.16,1.16.48.25.32.37.81.37,1.49v2.49h-1.53v-2.23c0-.17-.02-.31-.06-.41-.04-.11-.09-.19-.16-.25-.07-.06-.16-.09-.27-.1-.22-.01-.38.04-.49.15-.11.11-.16.28-.16.52v2.31h-1.53v-2.23c0-.17-.02-.31-.06-.41-.04-.11-.09-.19-.16-.25-.07-.06-.16-.09-.27-.1-.22-.01-.38.04-.49.15-.11.11-.16.28-.16.52v2.31h-1.53Z"/>
      <path class="cls-661" d="M57.55,60.1c-.46,0-.87-.1-1.23-.29s-.64-.46-.84-.8c-.2-.34-.3-.74-.3-1.19s.1-.85.3-1.19c.2-.34.47-.61.83-.8.35-.19.76-.29,1.22-.29s.82.1,1.15.29c.33.19.59.49.78.88.19.39.29.89.29,1.5h-3.19l.19-.23c0,.19.03.35.08.49.06.14.14.25.26.32.11.08.25.11.42.11.19,0,.35-.04.49-.13.14-.09.23-.2.26-.34l1.35.43c-.1.3-.27.54-.49.73s-.47.31-.75.39c-.28.08-.55.12-.81.12ZM56.76,57.51l-.16-.25h1.76l-.15.25c0-.23-.04-.4-.11-.53-.07-.13-.17-.22-.28-.27-.11-.06-.22-.08-.34-.08s-.23.03-.34.08c-.11.06-.2.15-.27.27s-.11.3-.11.53Z"/>
    </g>
    <g>
      <path class="cls-661" d="M13.48,99.81v-3.2h7.64v3.2h-7.64ZM18.98,107.54c-1.32,0-2.31-.31-2.95-.94-.64-.63-.96-1.52-.96-2.69v-10.63h3.84v9.58c0,.4.06.68.17.85s.31.26.58.26c.11,0,.26-.03.43-.11.17-.07.31-.14.41-.21l1.3,2.77c-.33.28-.75.54-1.28.77s-1.04.34-1.54.34Z"/>
      <path class="cls-661" d="M26.18,107.28l-3.63-10.67h3.93l3.22,10.67h-3.52ZM26.63,107.28l3.24-10.67h3.22l-3.16,10.67h-3.31ZM33.57,107.28l-3.14-10.67h3.22l3.22,10.67h-3.31ZM33.59,107.28l3.46-10.67h3.93l-3.65,10.67h-3.74Z"/>
      <path class="cls-661" d="M47.12,107.54c-1.15,0-2.18-.23-3.07-.7s-1.6-1.12-2.1-1.96c-.51-.84-.76-1.81-.76-2.92s.25-2.08.75-2.92c.5-.84,1.19-1.5,2.07-1.96.88-.47,1.9-.7,3.05-.7s2.06.24,2.89.71c.83.48,1.49,1.2,1.96,2.17.48.97.71,2.19.71,3.67h-7.98l.47-.56c0,.46.07.85.21,1.2.14.34.36.6.64.79.28.19.63.28,1.05.28.47,0,.88-.11,1.23-.33.35-.22.57-.5.65-.82l3.37,1.05c-.26.74-.67,1.33-1.23,1.78s-1.19.77-1.88.96c-.69.19-1.37.29-2.04.29ZM45.14,101.18l-.41-.62h4.42l-.38.62c0-.56-.09-.99-.28-1.3-.19-.31-.42-.54-.69-.67-.28-.14-.56-.2-.84-.2s-.59.07-.86.2c-.28.14-.51.36-.68.67s-.27.75-.27,1.3Z"/>
      <path class="cls-661" d="M53.8,107.28v-10.67h3.63l.21,1.96v8.71h-3.84ZM60.48,101.82c0-.41-.05-.75-.14-1.01-.09-.26-.23-.47-.4-.61-.18-.14-.4-.22-.67-.23-.54-.03-.95.09-1.22.36-.27.27-.41.7-.41,1.28h-1.05c0-1.12.17-2.08.51-2.86.34-.78.8-1.38,1.39-1.78.58-.41,1.24-.61,1.98-.61.87,0,1.59.17,2.16.52.57.35.99.88,1.27,1.59.28.71.42,1.62.42,2.71v.64h-3.84ZM60.48,107.28v-5.47h3.84v5.47h-3.84Z"/>
      <path class="cls-661" d="M66.14,107.28v-10.67h3.63l.21,1.96v8.71h-3.84ZM72.82,101.82c0-.41-.05-.75-.14-1.01-.09-.26-.23-.47-.4-.61-.18-.14-.4-.22-.67-.23-.54-.03-.95.09-1.22.36-.27.27-.41.7-.41,1.28h-1.05c0-1.12.17-2.08.51-2.86.34-.78.8-1.38,1.39-1.78.58-.41,1.24-.61,1.98-.61.87,0,1.59.17,2.16.52.57.35.99.88,1.27,1.59.28.71.42,1.62.42,2.71v.64h-3.84ZM72.82,107.28v-5.47h3.84v5.47h-3.84Z"/>
      <path class="cls-661" d="M80.62,95.58c-.57,0-1.07-.21-1.49-.64-.43-.43-.64-.93-.64-1.5s.21-1.08.64-1.5c.43-.42.93-.63,1.49-.63s1.08.21,1.5.63c.42.42.63.92.63,1.5s-.21,1.07-.63,1.5c-.42.43-.92.64-1.5.64ZM78.7,107.28v-10.67h3.84v10.67h-3.84Z"/>
      <path class="cls-661" d="M90.07,107.54c-1.15,0-2.18-.23-3.07-.7s-1.6-1.12-2.1-1.96c-.51-.84-.76-1.81-.76-2.92s.25-2.08.75-2.92c.5-.84,1.19-1.5,2.07-1.96.88-.47,1.9-.7,3.05-.7s2.06.24,2.89.71c.83.48,1.49,1.2,1.96,2.17.48.97.71,2.19.71,3.67h-7.98l.47-.56c0,.46.07.85.21,1.2.14.34.36.6.64.79.28.19.63.28,1.05.28.47,0,.88-.11,1.23-.33.35-.22.57-.5.65-.82l3.37,1.05c-.26.74-.67,1.33-1.23,1.78s-1.19.77-1.88.96c-.69.19-1.37.29-2.04.29ZM88.09,101.18l-.41-.62h4.42l-.38.62c0-.56-.09-.99-.28-1.3-.19-.31-.42-.54-.69-.67-.28-.14-.56-.2-.84-.2s-.59.07-.86.2c-.28.14-.51.36-.68.67s-.27.75-.27,1.3Z"/>
    </g>
  </g>
</svg>
  </a> 
  
<div class="sidebar-nav">
  {{#if user}}
    <span class="user-greeting">Hi, {{user.username}}</span>
    <a href="{{dashboardLink}}" class="nav-square" style="width: 75px; height: 75px;">
      <img src="/icons/dashboardicon.svg" alt="Dashboard" style="width: 50px;">
      <span class="nav-text" style="font-size: 0.7rem;">dashboard</span>
    </a>
    
  {{/if}}
  <a href="/topics" class="nav-square">
    <img src="/icons/topicsicon.svg" alt="Topics">
    <span class="nav-text">topics</span>
  </a>
      <a href="/latest" class="nav-square">
      <img src="/icons/latesticon.svg" alt="Latest">
      <span class="nav-text">latest</span>
    </a>

  {{#if user}}

    <a href="/auth/logout" class="nav-square logout">
      <img src="/icons/logouticon.svg" alt="Logout">
      <span class="nav-text">log out</span>
    </a>
  {{else}}

    <a href="/auth/login" class="nav-square">
      <img src="/icons/loginicon.svg" alt="Login">
      <span class="nav-text">login</span>
    </a>
<a href="/member/choose" class="nav-square">
  <img src="/icons/becomeamembericon.svg" alt="Become a Member">
  <span class="nav-text">join</span>
</a>
    <a href="/what_is_twennie" class="nav-square">
      <img src="/icons/whatistwennieicon.svg" alt="Info">
      <span class="nav-text">what is twennie?</span>
    </a>
  {{/if}}
</div>

</header> 

--}}

 <!-- Start of Header -->
      <header>
        <div id="navigation-wrapper">
        <div class="primary-logo">
        <a href="/">
          <img src="https://www.twennie.com/images/headerlogo_2.png" alt="Home">
         </a>
        </div>
          
          <!-- Start of Navigation Menu - The close and open ionicons are hidden until the viewport is 1024px in width, it will display a hamburger menu and close icon when toggled. -->
          <nav id="toggle-menu">           
            <ion-icon name="close-outline" id="close-menu"></ion-icon>
            <ul class="desktop-links">
{{#if user}}
  <li style="display: flex; align-items: center; gap: 10px;">
    <a href="{{dashboardLink}}">Hi, {{user.username}}</a>
    <img 
      src="{{userProfileImage}}" 
      alt="Profile" 
      style="width: 90px; height: 90px; border-radius: 50%; object-fit: cover; display: inline-block; overflow: hidden;"
    >
  </li>
{{/if}}


            </ul>
            <ul class="mobile-links">
                  {{#if user}}
                    <li>
                      <a href="{{dashboardLink}}">Hi, {{user.username}}</a>
                    </li>                    
                    <li>
                      <a href="{{dashboardLink}}">Dashboard</a>
                    </li>
                    <li>
                      <a href="/auth/logout">Logout</a>
                    </li>
                    {{else}}
                    <li>
                      <a href="/auth/login">Login</a>
                    </li>      
                  {{/if}}
                  <li>
                      <a href="/topics">Topics</a>
                  </li>

                  <li>
                      <a href="/latest">Latest</a>
                  </li>    

                  <li>
                    <a href="/member/choose">Join</a>
                  </li>     
                  <li>
                    <a href="/what_is_twennie">What is Twennie?</a>
                  </li>
                  <li>
                    <a href="/about_twennie" title="Email">About</a>
                  </li>

                  <li>
                    <a href="/about_twennie" title="Phone">Contact</a>
                  </li>

                  <li>
                    <a href="#" title="Tech Support">Tech Support</a>
                  </li>

                  <li>
                    <a href="/privacypolicy" title="Privacy">Privacy Policy</a>
                  </li>

                  <li>
                    <a href="/facilitation" title="Facilitation">Facilitation</a>
                  </li>

                  <li>
                    <a href="/custom_services" title="Custom Learning Design">Services</a>
                  </li>

                  <li>
                    <a href="https://www.youtube.com/@Twennie-learn" title="Youtube">Youtube</a>
                  </li>

                  <li>
                    <a href="/termsconditions" title="Terms & Conditions">Terms &amp; Conditions</a>
                  </li>
            </ul>
          </nav>
          <!-- End of Navigation Menu -->
          <ion-icon name="menu-outline" id="open-menu"></ion-icon>
        </div>        
      </header>
      <div class="wave-divider">
        <svg viewBox="0 0 1440 50" xmlns="http://www.w3.org/2000/svg">
          <path fill="#4e50a2" d="M0,32L80,26.7C160,21,320,11,480,11C640,11,800,21,960,24C1120,27,1280,21,1360,18.7L1440,16V0H0Z"></path>
        </svg>
      </div>

      <!-- End of Header -->

<div class="sidebar-nav">

  {{#if user}}
    <!-- Dashboard for logged-in user -->
    <a href="{{dashboardLink}}" class="nav-square" style="width: 90px; height: 90px;">
      <img src="https://www.twennie.com/icons/dashboardicon.svg" alt="Dashboard" style="width: 50px; margin-top: 15px;">
      <span class="nav-text" style="font-size: 0.8rem;">learning dashboard</span>
    </a>

    <!-- Shared links -->
    <a href="/topics" class="nav-square">
      <img src="https://www.twennie.com/icons/topicsicon.svg" alt="Topics">
      <span class="nav-text">topics</span>
    </a>
    <a href="/latest" class="nav-square">
      <img src="https://www.twennie.com/icons/latesticon.svg" alt="Latest">
      <span class="nav-text">latest</span>
    </a>

    <!-- Log out for user -->
    <a href="/auth/logout" class="nav-square logout">
      <img src="https://www.twennie.com/icons/logouticon.svg" alt="Logout">
      <span class="nav-text">log out</span>
    </a>

  {{else}}
    <!-- Login moved to top -->
<a href="/auth/login" class="nav-square" style="width: 90px; height: 90px;">
  <img src="https://www.twennie.com/icons/loginicon.svg" alt="Login" style="width: 50px; margin-top: 15px;">
  <span class="nav-text" style="font-size: 0.9rem;">login</span>
</a>

    <!-- Shared links for logged-out users -->
    <a href="/topics" class="nav-square">
      <img src="https://www.twennie.com/icons/topicsicon.svg" alt="Topics">
      <span class="nav-text">topics</span>
    </a>
    <a href="/latest" class="nav-square">
      <img src="https://www.twennie.com/icons/latesticon.svg" alt="Latest">
      <span class="nav-text">latest</span>
    </a>

    <!-- Unique links for logged-out users -->
    <a href="/member/choose" class="nav-square">
      <img src="https://www.twennie.com/icons/becomeamembericon.svg" alt="Become a Member">
      <span class="nav-text">membership</span>
    </a>
    <a href="/what_is_twennie" class="nav-square">
      <img src="https://www.twennie.com/icons/whatistwennieicon.svg" alt="What is Twennie?">
      <span class="nav-text"></span>
    </a>
        <a href="/teach_me" class="nav-square">
      <img src="https://www.twennie.com/icons/teachmeicon.svg" alt="Teach Me">
      <span class="nav-text">teach me how to use twennie</span>
    </a>
  {{/if}}

</div>


        </div>