<div class="groupmember-topics-container">
    <h3 class="groupmember-dashboard-subtitles">topics</h3>
    <p>These are your three topics of interest. These determine the email notifications you receive about new units added to the library. If you want to change these topics, go to your profile and click the "edit profile" button. You can also leave these blank, if you wish, and you will only receive general email notifications.</p>

    <div class="groupmember-topics-grid">
        {{#if selectedTopics.topic1}}
            <div class="groupmember-topic-card" data-topic-id="{{selectedTopics.topic1.slug}}">
                <div class="groupmember-topic-title">{{selectedTopics.topic1.title}}</div>
                <ul class="groupmember-topic-subtopics">
                    {{#each selectedTopics.topic1.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic1.viewName}}" class="groupmember-topic-review">review this topic</a>
            </div>
        {{/if}}

        {{#if selectedTopics.topic2}}
            <div class="groupmember-topic-card" data-topic-id="{{selectedTopics.topic2.slug}}">
                <div class="groupmember-topic-title">{{selectedTopics.topic2.title}}</div>
                <ul class="groupmember-topic-subtopics">
                    {{#each selectedTopics.topic2.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic2.viewName}}" class="groupmember-topic-review">review this topic</a>
            </div>
        {{/if}}

        {{#if selectedTopics.topic3}}
            <div class="groupmember-topic-card" data-topic-id="{{selectedTopics.topic3.slug}}">
                <div class="groupmember-topic-title">{{selectedTopics.topic3.title}}</div>
                <ul class="groupmember-topic-subtopics">
                    {{#each selectedTopics.topic3.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic3.viewName}}" class="groupmember-topic-review">review this topic</a>
            </div>
        {{/if}}
    </div>
</div>




