<div class="leader-topics-container">
    <h3 class="leader-dashboard-subtitles">topics</h3>
        <p>For all users: These are your three chosen topics. The links help you access relevant content quickly and determine which email alerts you receive. To change them or opt out of emails, go to your profile and click “edit profile.”
        <p>For group leaders: These are your personal topics. Each team member can select their own, and your group has a separate set visible in the group profile. To update group topics, click your group profile on the left sidebar.</p>


    <div class="leader-topics-grid">
        {{#if leader.topics.topic1}}
            <div class="leader-topic-card" data-topic-id="{{selectedTopics.topic1.slug}}">
                <div class="leader-topic-title">{{leader.topics.topic1}}</div>
                <ul class="leader-topic-subtopics">
                    {{#each selectedTopics.topic1.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic1.viewName}}" class="leader-topic-review">review this topic</a>
            </div>
        {{/if}}

        {{#if leader.topics.topic2}}
            <div class="leader-topic-card" data-topic-id="{{selectedTopics.topic2.slug}}">
                <div class="leader-topic-title">{{leader.topics.topic2}}</div>
                <ul class="leader-topic-subtopics">
                    {{#each selectedTopics.topic2.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic2.viewName}}" class="leader-topic-review">review this topic</a>
            </div>
        {{/if}}

        {{#if leader.topics.topic3}}
            <div class="leader-topic-card" data-topic-id="{{selectedTopics.topic3.slug}}">
                <div class="leader-topic-title">{{leader.topics.topic3}}</div>
                <ul class="leader-topic-subtopics">
                    {{#each selectedTopics.topic3.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic3.viewName}}" class="leader-topic-review">review this topic</a>
            </div>
        {{/if}}
    </div>
</div>

{{#if topicSuggestions.length}}
  <div class="leader-topic-suggestion-card">
    {{#each topicSuggestions}}
      <h4 class="leader-topic-suggestion-title">{{this.topicTitle}}</h4>
      <p class="leader-topic-suggestion-meta">
        Submitted on {{formatDate this.submittedAt}} |
        {{#if this.approved}}
          ✅ Approved<br>
          Estimated library release: {{formatDate this.expectedLibraryDate}}
        {{else}}
          🕓 Approval pending
        {{/if}}
      </p>
      <div class="leader-topic-suggestion-grid">
        <div class="leader-topic-suggestion-col">{{this.paragraph1}}</div>
        <div class="leader-topic-suggestion-col">{{this.paragraph2}}</div>
        <div class="leader-topic-suggestion-col">{{this.paragraph3}}</div>
      </div>
    {{/each}}
  </div>
{{/if}}


