<div class="leader-topics-container">
    <h3 class="leader-dashboard-subtitles">topics</h3>
        <p>These are your three topics of interest. This makes it so you can get to those topics without having to navigate the whole topic tree. These also determine the email notifications you receive about new units added to the library. If you want to opt out of emails or change these topics, go to your profile and click the "edit profile" button.</p>
        <p>You are a <strong>group leader</strong>. These topics represent your personal topics of interest. Each of your team members has the option to choose their own set of three. Your group also has a set of three, shown in your group profile. If you want to add group topics, go to your group profile using the button on the left sidebar under your image.</p>

    <div class="leader-topics-grid">
        {{#if leader.topics.topic1}}
            <div class="leader-topic-card" data-topic-id="{{selectedTopics.topic1.slug}}">
                <div class="leader-topic-title">{{leader.topics.topic1}}</div>
                <ul class="leader-topic-subtopics">
                    {{#each selectedTopics.topic1.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic1.viewName}}" class="leader-topic-review">review this topic</a>
            </div>
        {{/if}}

        {{#if leader.topics.topic2}}
            <div class="leader-topic-card" data-topic-id="{{selectedTopics.topic2.slug}}">
                <div class="leader-topic-title">{{leader.topics.topic2}}</div>
                <ul class="leader-topic-subtopics">
                    {{#each selectedTopics.topic2.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic2.viewName}}" class="leader-topic-review">review this topic</a>
            </div>
        {{/if}}

        {{#if leader.topics.topic3}}
            <div class="leader-topic-card" data-topic-id="{{selectedTopics.topic3.slug}}">
                <div class="leader-topic-title">{{leader.topics.topic3}}</div>
                <ul class="leader-topic-subtopics">
                    {{#each selectedTopics.topic3.subtopics}}
                        <li>{{this}}</li>
                    {{else}}
                        <li>No subtopics available</li>
                    {{/each}}
                </ul>
                <a href="/membertopics/{{selectedTopics.topic3.viewName}}" class="leader-topic-review">review this topic</a>
            </div>
        {{/if}}
    </div>
</div>


